[submodule "Utils_14"]
	path = Utils_14
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_14.git
[submodule "Java_utils"]
	path = Java_utils
	url = https://github.com/Baneeishaque/Java_Common_Utils.git
